<div class="settings-page">
  <div class="container page">
    <div class="row settings-container">
      <div class="col-md-6 offset-md-3 col-xs-12">

        <h1 class="text-xs-center">Profile Settings</h1>
        <br>
        <list-errors [errors]="errors"></list-errors>
          
        <form class="settings-container" [formGroup]="settingsForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">  

            <mat-form-field>
              <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            
            <button class="btn btn-lg btn-primary pull-xs-right"
              type="submit">
              Save
            </button>

          </fieldset>
        </form>   

      </div>
    </div>
  </div>
</div>
